{% extends 'base.html.twig' %}

{% block body %}
    <a href="/home">Retour a l'index</a>
    <div id="wrapper">
        <div id="container">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="row">
                    <div class="alert alert-success alert-dismissible col-xs-8 col-xs-push-2" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage }}
                    </div>
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="row">
                    <div class="alert alert-danger alert-dismissible col-xs-8 col-xs-push-2" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage }}
                    </div>
                </div>
            {% endfor %}
            <h1>Ma liste d'amis !</h1><br/>
            {% for friend in friends %}
                <div class="users">
                    <h1>{{ friend.getLogin() }}</h1>
                    <a href="/get/{{ friend.getId() }}">Voir le profil</a>
                    <a href="/delete/{{ friend.getId() }}">Supprimer de ma liste d'amis</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
